{% extends '::base.html.twig'%}

{% block body %}

	
	
	<!-- MENU
    ================================================== -->	

			
		
	<!-- Primary Page Layout
	================================================== -->

	<section class="cd-section">
		<div class="cd-block">
			<div class="contact-top">
			
				<div id="cd-google-map">
					<div id="google-container"></div>
					<div id="cd-zoom-in"></div>
					<div id="cd-zoom-out"></div>
					<address>86-90 Kralja Milutina<br>Belgrade 11000</address> 
				</div>	
				
				<a href="#scroll-link" class="scroll scroll-down"></a>
				
			</div>
		</div>
	</section> <!-- .cd-section --> 

	<section class="section white-background padding-top-bottom shadow-sec" id="scroll-link">
		<div class="container">
			<div class="sixteen columns">
				<div class="section-header-text">
					<h4>Get in touch<span>.</span></h4> 
					<p>Don’t hesitate to contact us.</p> 
					<div class="line-header"></div>
				</div>
			</div>
				
				<div class="clear"></div>
					
				<form name="ajax-form" id="ajax-form" action="mail-it.php" method="post">
					<div class="eight columns" data-scroll-reveal="enter bottom move 100px over 0.6s after 0.2s">
						<label for="name"> 
							<span class="error" id="err-name">please enter name</span>
						</label>
						<input name="name" id="name" type="text"   placeholder="Your Name: *"/>
					</div>
					<div class="eight columns" data-scroll-reveal="enter bottom move 100px over 0.6s after 0.2s">
						<label for="email"> 
							<span class="error" id="err-email">please enter e-mail</span>
							<span class="error" id="err-emailvld">e-mail is not a valid format</span>
						</label>
						<input name="email" id="email" type="text"  placeholder="E-Mail: *"/>
					</div>
					<div class="sixteen columns" data-scroll-reveal="enter bottom move 100px over 0.6s after 0.2s">
						<label for="message"></label>
						<textarea name="message" id="message" placeholder="Tell Us Everything"></textarea>
					</div>
					<div class="sixteen columns" data-scroll-reveal="enter bottom move 100px over 0.6s after 0.2s">
						<div id="button-con"><button class="send_message" id="send"><span data-hover="submit">submit</span></button></div>					
					</div>
					<div class="clear"></div>	
					<div class="error text-align-center" id="err-form">There was a problem validating the form please check!</div>
					<div class="error text-align-center" id="err-timedout">The connection to the server timed out!</div>
					<div class="error" id="err-state"></div>
				</form>	
					
				<div class="clear"></div>
				<div id="ajaxsuccess">Successfully sent!!</div>
				<div class="clear"></div>
					
		</div>
	</section>

	<section class="section white-background padding-bottom hidden-sec">
		<div class="container">
			<div class="one-third column">
				<div class="contact-details">
					<p><span>&#xf1d8;</span> Email:</p> 
					<h6>contact@carre.com.tn</h6>
				</div>
			</div>
			<div class="one-third column">
				<div class="contact-details">
					<p><span>&#xf095;</span> Mobile:</p>
					<h6>+216 71 38 68 56 / +216 54 00 00 46</h6>
				</div>
			</div>
			<div class="one-third column">
				<div class="contact-details">
					<p><span>&#xf041;</span> Adresse:</p>
                                        <h6>11 Avenue de la republique imm ben guirat<br> 
                                         2 eme etage app n 10 ben Arous 2013-Tunisie </h6>


				</div>
			</div>
		</div>
	</section>
	
	<footer class="footer no-shadow">
		<div class="container">
			<div class="sixteen columns">
				<div class="footer-social">
					<a href="#">twitter</a>
					<a href="#">github</a>
					<a href="#">facebook</a>
					<a href="#">google +</a>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="sixteen columns">
				<div class="footer-copy-text">
					<p>© CARRé communication 2017</p>
					<p>Made by CARRé</p>
				</div>
			</div>
		</div>
	</footer> 	
		
{%endblock  %}	